{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>阿里云</title>
<!-- <link rel="stylesheet" type="text/css" href="statics/css/swiper.min.css" />
<link rel="stylesheet" type="text/css" href="statics/css/animate.min.css" /> -->
<link rel="stylesheet" type="text/css" href="/static/css/indexstyle.css" />
</head>

<body>

<!--
 
 * 17素材vip建站专区模块代码
 * 详尽信息请看官网：http://www.17sucai.com/pins/vip
 *
 * Copyright , 温州易站网络科技有限公司版权所有
 *
 * 请尊重原创，未经允许请勿转载。
 * 在保留版权的前提下可应用于个人或商业用途
 
-->

<div class="top">
	<div class="bar">
		<div class="logo">
			<p>能源缴费</p>
		</div>
		<div class="bar_menu">
			<ul>
				<li>
					<a href="#">关于我们</a>
				</li>
				<li>
					<a href="#">客服中心</a>
				</li>
				<li>
					<a href="wxdenglu">维护人员登陆</a>
				</li>
				<li>
					<a href="/login/">登录</a>
					<a href="zhuce">注册</a>
				</li>
			</ul>
		</div>
		<div class="area">
			<span>中国站&nbsp;<i></i></span>
		</div>
		<div class="search">
			<input type="text" name="soshuo" placeholder="请输入您要搜索的内容" />
			<div class="search_icon"></div>
		</div>
	</div>
	<div class="nav">
		<ul>
			<div></div>
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">用户界面</a>
			</li>
			<li>
				<a href="wx">维修界面</a>

			</li>
			<li>
				<a href="#">智能用电</a>
			</li>
			<li>
				<a href="#">支持与服务</a>
			</li>
			<li>
				<a href="#">节能减排</a>
			</li>
		</ul>
	</div>
	<div class="banner">
		<div class="banner-main">
			<div class="banner-img">轮播图的相关图片</div>
			<div class="banner-img2">
				<ul>
					<li>功能图片</li>
					<li>功能图片</li>
				</ul>
				<ul>
					<li>功能图片</li>
					<li>功能图片</li>
				</ul>
		</div>
		<div class="main-1">
			<h4>重要通知</h4>
			<hr>
			<ul>
				<li>*************</li>
				<li>*************</li>
				<li>*************</li>
				<li>*************</li>
				<li>*************</li>
			</ul>
		</div>
		<div class="main-2">
			<h4>政策法规</h4>
			<hr>
			<ul>
				<li>*************</li>
				<li>*************</li>
				<li>*************</li>
				<li>*************</li>
				<li>*************</li>
			</ul>
		</div>
		<div class="main-3">
			<h4>停电公告</h4>
			<hr>
			该区电力状况良好
		</div>
	</div>
	<div class="recommend">
		<ul>
			<li>
				<a href="#">
					<h2>网上营业厅</h2>
					<p>电费缴纳/预存      电费电量/网费/煤气费/水费查询       业务办理      信息订阅</p>
				</a>
			</li>
			<li>
				<a href="#">
					<h2>常见问题</h2>
					<p>网上缴费问题     家庭用电问题   服务开通问题  其他问题</p>
				</a>
			</li>
			<li>
				<a href="#">
					<h2>服务支持</h2>
					<p>资费标准  资料下载  政策/法规  业务办理 营业网点  服务承诺</p>
				</a>
			</li>
			<li>
				<a href="#">
					<h2>投诉建议</h2>
					<p>我要投诉   我要举报  提出建议  发表意见</p>
				</a>
			</li>
			<li>
				<a href="#">
					<h2>联系我们</h2>
					<p>为了更好的获取我们的新闻资讯，可以关注我们的微博</p>
				</a>
			</li>
		</ul>
	</div>
</div>


</body>
</html>